.alert {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 2rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    background-color: rgba(255, 0, 0, 0.377);
    padding: 1rem;
    border-radius: 1rem;
}